body{
    width: 1000px; 
    height: 1500px; 
    font-family: 'Fredericka the Great', cursive;
    
}

#parentTitleBox{
    margin: 35px auto auto 10px; 
}
.titleBox{
    height: 200px; 
    width: 400px; 
    background-color: lightskyblue; 
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    font-size: 50px; 
}

#instructionBox{
    margin: 35px auto auto 10px; 
    width: 600px; 
    height: 500px; 
    background-color: #777; 
}

#parentRanWlBox{
    margin: 35px 0 0 10px; 
    width: 600px; 
    height: 250px; 
    font-size: 50px; 
}

.ranNumBox{
    width: 55%; 
    height: 100%; 
    float: left; 
    background-color: darkgray; 
}

.winLoseBox{
    width: 40%;  
    height: 100%; 
    float: right; 
    background-color: thistle; 
    font-size: 15px; 
}

#parentGameButtons{
    margin: 35px auto auto 10px; 
    height: 200px; 
    width: 600px; 
    
}

.box{
    width: 130px; 
    height: 100%; 
    margin: 0 10px 0 10px; 
    float: left; 
    overflow: hidden; 
}

#parentScore{
    margin: 25px auto auto 10px; 
    width: 330px; 
    height: 250px; 
    position: relative; 
}

.scoreDisplayChild{
    margin: 25px auto auto 10px; 
    width: 100%; 
    height: 25%; 
    background-color: lightskyblue; 
}

.scoreDisplay{
    margin: 25px auto auto 10px; 
    width: 100%; 
    height: 70%; 
    background-color: thistle; 
    position: absolute; 
    bottom: 0px; 
}
